# XcodeGen 工程不入库（project.yml 是唯一真源）
*.xcodeproj

# Swift Package Manager
.build/
Swiftpm/

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# macOS
.DS_Store

# CI 产物
*.ipa
*.dSYM.zip
